<%= form_with(model: [:admins, product]) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class= "field.form-group">
     <%= form.label :primary_image %>
     <% if @product.primary_image.attached? %>
       <%= image_tag @product.primary_image,width: "150px" %>
       <%= form.check_box :remove_primary_image%>
       <%= form.label "Check to delete the primary image."%>
     <%end%>
     <br>
     </br>
     <%= form.file_field :primary_image, class:"form-control" %>
  </div>

  <div class="field.form-group">
    <br>
    <%= form.label :title %>
    <%= form.text_area :title, class:"form-control" %>
  </div>

  <div class="field.form-group">
    <br>
    <%= form.label :description %>
    <%= form.text_area :description, class:"form-control" %>
  </div>

  <div class="field.form-group">
    <br>
    <%= form.label :stock %>
    <%= form.number_field :stock, class:"form-control" %>
    <br>
  </div>

  <div class = "field.form-group"> 
    <%= form.label :categories %>
    <%= form.collection_check_boxes :category_ids, Category.order(:name ), :id, :name%>
  </div>

  <div class = "field.form-group"> 
    <br>
    <%= form.label :Status %>
    <br>
    <%= form.select :status, Product.statuses.keys.map {|u| [u.titleize, u]} %>
  </div>

  <div class= "field.form-group">
     <%= form.label :supporting_images %>
     <% if @product.supporting_images.attached? %>
      <% @product.supporting_images.each do |image| %>
        <%= image_tag image, width: "100px", height: "100px" %>
      <% end %>
      <%= form.check_box :remove_supporting_images%>
      <%= form.label "Check to delete all supporting images."%>
    <%end%>
    <br>
     </br>
     <%= form.file_field :supporting_images, multiple: true ,class:"form-control" %>
  </div>

  <br>
  <div class="actions">
    <%= form.submit %>
    <br>
    </br>
  </div>
<% end %>
