<!DOCTYPE html>
<html>
  <head>
    <title>DIORK</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css'%>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #FBBBB9; font-family: Helvetica, Arial, sans-serif; font-weight: bold;" >
      <a class="navbar-brand" style="color: black; font-family:nicolas-cochin-regular" href="/admins/products">DIORK</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/admins/products">Products</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/categories">Category</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <%# <button class="btn btn-outline-success my-2 my-sm-0" href="#"  type="submit">Search</button> %>
          <% if admin_signed_in? %>
            <a class="nav-link" style="color:#990000" href="/admins/sign_out" data-method= "DELETE" >Sign Out</a>
            <%# <button class="btn btn-outline-success my-2 my-sm-0" href="/admins/sign_out" data-method= "DELETE" style="color:black">Sign out</button> %>
          <% else %>

             <a class="nav-link" style="color:white" href="/admins/sign_in" >Sign in</a>

          <% end %>
  
        </form>
      </div>
    </nav>
    <div class="container">
      <h1 style="color: red;">
        <%= flash[:error]&.join(',') %>
      </h1>
      <%= yield %>

      <%= javascript_include_tag 'https://code.jquery.com/jquery-3.2.1.slim.min.js' %>
      <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' %>
      <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js' %>
    </div>
  </body>
</html>